package frontend

templ Changelog() {
	<div style="max-width: 700px;margin-left: auto; margin-right: auto;">
		<div>
			<h2>Changelog of WT-Heatmaps project</h2>
		</div>
		<div style="padding-left:0.6em;border-left:3px solid darkred">
			<b>Known issues:</b>
			<ul>
				<li>
					Team data has been scuffed, atm just a random number.
					Fix in data provider in progress to actually bind the number
					to the spawn sides.
				</li>
			</ul>
		</div>
		<div>
			<h4>8 October 2026 23:30 GMT+3</h4>
			<div>
				Made this changelog page.
				<br/>
				Added arrows when area is being selected to indicate where kills are
				being made.
				<br/>
				Reworked loading indicators.
			</div>
		</div>
		<div>
			<h4>8 October 2026 13:30 GMT+3</h4>
			<div>
				We can't have nice things, stop overloading my server.
				<br/>
				Cloudflare protections are cranked due to influx from certain region.
				<br/>
				API thrown into auth-only, it was a matter of time. Contact me to get a token.
				<br/>
				Due to auth-only access it opens up prospects of making more custom endpoints.
			</div>
		</div>
	</div>
}
